body {
    font-size: 16px;
    margin: 0;
    display: grid;
    grid-template-rows: auto 1fr auto;
    height: 100vh;
    overflow: hidden;
}

header, footer {
    background-color: #a29dd4;
    white-space: nowrap;
    padding: 7px;
}

#tab-menu {
    width: 100%;
    display: grid;
    grid-template-columns: auto 1fr auto;
    column-gap: 4px;
}

#tab-wrapper {
    display: flex;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

main {
    display: grid;
    grid-template-columns: 1fr 5fr;
    overflow: hidden;
}

#left-section, #right-section {
    overflow-y: auto;
    padding: 20px;
}

#left-section {
    background-color: #b5b2d3;
}

#right-section {
    background-color: #c6c4d6;
}

.scroll-button {
    display: flex;
    align-items: center;
    position: relative;

    cursor: default;
    height: 2em;
    padding: 0.2em 0.5em;

    border-radius: 0.4em;
    background-color: #bfbddc;
    z-index: 1;

    font-weight: 900;
}

.scroll-button:hover {
    background-color: #c3c1dd;
}

.tab-name {
    display: inline;
    padding: 0.2em;
}

.tab {
    display: flex;
    align-items: center;
    height: 2em;
    margin-right: 0.2em;
    padding: 0.2em 0.2em;

    cursor: default;
    
    border-radius: 0.4em;
    background-color: #b2aedb;
}

.tab:hover {
    background-color: #c3c1dd;
}

.tab.active, .tab.active:hover {
    background-color: #dedde9;
}

.close-button {
    display: inline;
    margin-left: 0.1em;

    border-style: none;
    border-radius: 50%;

    font-size: smaller;
    font-weight: 900;
    background-color: #b2aedb;
}

.tab:hover .close-button {
    background-color: #c3c1dd;
}

.tab.active .close-button {
    background-color: #dedde9;
}

.tab .close-button:hover {
    background-color: #8982e0;
}

.link {
    display: block;
    color: navy;
    text-decoration: underline;
    cursor: pointer;
}

.link.hidden {
    display: none;
}