body {
    margin: 0;
    display: grid;
    grid-template-rows: auto 1fr auto;
    height: 100vh;
    overflow: hidden;
}

header, footer {
    background-color: #9993d4;
    padding: 10px;
}

main {
    display: grid;
    grid-template-columns: 1fr 5fr;
    overflow: hidden;
}

.left-section, .right-section {
    overflow-y: auto;
    padding: 20px;
}

.left-section {
    background-color: #b5b2d3;
}

.right-section {
    background-color: #c6c4d6;
}

.tab {
    padding: 0.2em 0.4em 0.2em 0.4em;
    
    border-radius: 0.4em;
    border-width: 1px;
    background-color: #b2aedb;
}

.tab.active {
    background-color: #dedde9;
}

.tab-panel {
    display: none;
}

.tab-panel.active {
    display: block;
}