body {
    margin: 0;
    display: grid;
    grid-template-rows: auto 1fr auto;
    height: 100vh;
    overflow: hidden;
}

header, footer {
    display: flex;
    background-color: #a29dd4;
    padding: 5px;
    white-space: nowrap;
}

#tab-menu {
    overflow: hidden;
    width: 100%;
}

#tab-wrapper {
    display: flex;
    overflow-x: hidden;
    scroll-behavior: smooth;
    max-width: calc(100vw - 3.2em);
    margin-left: 1.25em;
}

main {
    display: grid;
    grid-template-columns: 1fr 5fr;
    overflow: hidden;
}

#left-section, #right-section {
    overflow-y: auto;
    padding: 20px;
}

#left-section {
    background-color: #b5b2d3;
}

#right-section {
    background-color: #c6c4d6;
}

.scroll-button {
    display: flex;
    align-items: center;
    position: absolute;

    cursor: default;
    height: 2.25em;
    padding: 0.3em 0.2em 0.3em 0.2em;

    border: none;
    border-radius: 0.4em;
    background-color: #bfbddc;
    z-index: 1;
}

.scroll-button:hover {
    background-color: #c3c1dd;
}

.scroll-button.left {
    left: 0.4em;
}

.scroll-button.right {
    right: 0.4em;
}

.tab-name {
    display: inline;
    margin-left: 0.2em;
    margin-right: 0.2em;
}

.tab {
    display: flex;
    align-items: center;
    height: 1.3em;
    max-width: 7.5em;
    padding: 0.3em 0.2em 0.3em 0.2em;
    margin-left: 0.2em;
    margin-right: 0.2em;

    cursor: default;
    
    border-radius: 0.4em;
    background-color: #b2aedb;
}

.tab.hidden {
    display: none;
}

.tab:hover {
    background-color: #c3c1dd;
}

.tab.active, .tab.active:hover {
    background-color: #dedde9;
}

.close-button {
    display: inline;
    margin-left: 0.1em;

    border-style: none;
    border-radius: 50%;

    font-size: smaller;
    font-weight: 900;
    background-color: #b2aedb;
}

.tab:hover .close-button {
    background-color: #c3c1dd;
}

.tab.active .close-button {
    background-color: #dedde9;
}

.tab .close-button:hover {
    background-color: #8982e0;
}

.link {
    color: navy;
    text-decoration: underline;
    cursor: pointer;
}